
:host{ // host es un elemento padre que incluye a todo lo que tiene nuestro webcomponent se puede dar estilo 
        //imaginalo como un contenedor
    display: block;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
        background-size: cover;
        // SE LE DA ESTILO A UN SLOT EN ESPECIFICO
        & slot[name="title"] {
                color: white;
                }

        & .btn_container {
                    width: 100%;
                    height: 150px;
                    background-color: purple;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    gap: 50px;

                    & .btn{
                        // SE ESTA MODIFICANDO EL VALOR ORIGINAL DE LA VARIABLE CON UNO NUEVO PARA MODIFICAR EL COMPONENTE
                            --btn-color: #15e2e2;
                            --btn-width: 180px;

                    }
                }

        }



    }

